<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">

<title>Spring Boot ThymeLeaf</title>
<body>

    <div th:fragment="copy">
        <p>&copy; 2020 attacomsian.com</p>
    </div>

<!--    <nav th:fragment="headnav" class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        &lt;!&ndash;    <a class="navbar-brand" href="#" th:utext="${message}"></a>&ndash;&gt;-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                data-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false"-->
<!--                aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->

<!--                <li>-->
<!--                    <nav class="navbar navbar-light bg-light">-->
<!--                        <a class="navbar-brand" href="#">-->
<!--                            <img src="../static/images/logo.png" width="45" height="45" alt="" loading="lazy">-->
<!--                        </a>-->
<!--                    </nav>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->




<!--                    &lt;!&ndash;                <a class="nav-link" th:href="@{/}">Home&ndash;&gt;-->
<!--                    &lt;!&ndash;                <span class="sr-only">(current)</span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                </a>&ndash;&gt;-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    &lt;!&ndash;                <a class="nav-link" th:href="@{/Accueil}">Employee</a>&ndash;&gt;-->
<!--                    <div class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            Accueil-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
<!--                            <button class="dropdown-item" type="button">Utilisateur</button>-->
<!--                            <button class="dropdown-item" type="button">Produis</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/Catalogue}">Catalogue</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/Contact}">Contact</a></li>-->
<!--            </ul>-->

<!--            <a class="navbar-brand" href="#">-->
<!--                <img src="../static/images/shopping_cart-24px.svg" width="45" height="45" alt="" loading="lazy">-->
<!--            </a>-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <img src="../static/images/account_circle-24px.svg" width="45" height="45" alt="" loading="lazy">-->
<!--            </a>-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <img src="../static/images/power_settings_new-24px.svg" width="45" height="45" alt="" loading="lazy">-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->
</body>
</html>